@charset "utf-8";

/* -------- CSS Document -------- */
/*
 * Lumiera.org Stylesheet
 *
 * for: Navigation Menu
 */


/* --------v  Menu  v-------- */
#menu {
    font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0 0 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

/* main menu items */
#menu li.submenu {
    border-top: 3px solid #C4BCB0;
    padding: 2px 0 0;
}

/* second-level menu */
#menu ul {
    padding: 0;
    margin: 3px 0 0;
    position: absolute;
    text-transform: none;
    font-weight: normal;
    font-size: 12px;
    margin-top: 24px;
}

/* expand buttons */
#menu .expand_button {
    float: right;
    font-size: 8px;
    text-indent: 0;
    padding: 0 5px;
    cursor: s-resize;
    border: 1px solid #D9E6F6;
    background: white;
}

#menu a {
    font-weight: bold;
    color: #DDD;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: none;
    color: #FFF;
}

#menu ul a {
	font-weight: normal;
}

#menu ul a:hover {
    
}

#menu ul li {
	margin-right: 25px;
	color: #CCC;
}



/* Current menu entry highlight */
#menu ul .current,#menu ul .current li {
    background-color: #D9E6F6;
}

#menu .current a {
    color: #1B3799;
}

/* all menu items */
#menu li {
    display: inline;
    margin: 0 25px 0 0;
}

/* level-2 indentation */
#menu ul {
    /*text-indent: 0.5em;*/
}

/* level-3 indentation */
#menu ul ul {
    text-indent: 1.5em;
}

/* level-4 indentation */
#menu ul ul ul {
    text-indent: 2em;
}

/* level-5 indentation */
#menu ul ul ul ul {
    text-indent: 2.33em;
}

/* level-6 indentation */
#menu ul ul ul ul ul {
    text-indent: 2.66em;
}


#menu ul>li>a {
 /* nothing special */
}



/* Vertical menu */

#menu_v {
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 0 0 0 3px;
    text-transform: none;
    font-weight: bold;
    position: relative;
}


/* second-level menu */
#menu_v ul {
    padding: 0 0 0 0;
    margin: 3px 0 0;
    text-transform: none;
    font-weight: bold;
    font-size: 12px;
}

/* expand buttons */
#menu_v .expand_button {
    float: right;
    font-size: 8px;
    text-indent: 0;
    padding: 0 5px;
    cursor: s-resize;
    border: 1px solid #D9E6F6;
    background: white;
}

#menu_v a {
    font-weight: bold;
    color: #333;
    text-decoration: none;
 
}

#menu_v a:hover {
    text-decoration: none;
    color: #666;
}

#menu_v li {
    display: block;
    margin: 0 0 0 0;
    color: #333;
}

#menu_v ul a {
	font-weight: bold;
}

#menu_v ul a:hover {
}
  
#menu_v ul ul a {
	font-weight: normal;
}  


