@charset "utf-8";

/* -------- CSS Document -------- */
/*
 * Lumiera.org Stylesheet
 *
 * for: general page layout
 */
 


/* --------  Body  -------- */
body {
    margin: 8px 0;
    background: #F4EFDC;
}

div#layout-banner {
    margin: 5px 0 0 0;
    padding: 0.4em 25px .2em 12ex;
    background: #7097BF;
    border-bottom: 9px #A9A38B solid;
    color: white;
    font: sans-serif;
    text-align: left;
    background-image: url(/images/lumi_trac_header.png);
    background-position: 0.5ex 4ex;
    background-repeat: no-repeat;
}

div#layout-title {
    display: block;
    margin: 0;
    font: bold 3.5em monospace;
    letter-spacing: 0.15em;
}

div#layout-description {
    display: block;
    font: 1.2em sans-serif;
    letter-spacing: 0.1em;
}

#wrapper {
    display: block;
    width: 950px;
    height: auto;
    margin: 10px auto 0 13px;
}


/* ---- navigation menu ---- */
iframe#inavi {
    width: 22.5ex;
    min-height: 35em;
    float: left;
    border: none;
    margin: 0 16px 0 8px;
    padding: 0 0;
}
/* note: min-height defines overall minimum page height;
   the actual height will be adjusted onLoad() by the
   JavaScript, which also selects the current page */


/* ---- ASCIIDOC ---- */
#layout-content {
    float: left;
    width: 700px;
    padding-left: 12px;
    padding-top: 1ex;
}


/* ---- footer ---- */
div#footer {
    clear: left;
    margin: 4em 0 0 0;
    padding: 0.4em 20px .2em 28ex;
    border-top: 8px #7097BF solid;
    background: #A9A38B;
    border-bottom: 2px #7097BF solid;
}

div#footer-text {
    padding-top: 0.5ex;
    padding-bottom: 1.5em;
    font: small sans-serif;
    color: white;
}

/* -------- Other -------- */
h1
#header {
    margin: -10 px 0 0 0;
}

@media print {
    #layout-banner {
        display: none;
    }
    #layout-menu {
        display: none;
    }
}
