++++
<style type="text/css">

body {
  color: white;
  background-color: black;
}

#layout-banner {
display: none;
  }

#layout-menu {
display: none;
  }

h1  {
  border-bottom: 0px;
  color: black;
  }

div#footer {
  display: none;
}

body > table {
  position: absolute;
  left: 50%;
  margin-left: -400px;
}

div#preamble, div.tableblock {
  margin-right: auto;
}

div#layout-content div#preamble div.sectionbody div.para {
  text-align: center;
}

</style>
++++

