++++
<style type="text/css">
body {
  color: white;
  background-color: black;
}
#layout-banner {
  background-color: black;
  border-bottom: 0px solid #eeeeee;
  text-align: center;
  }
#layout-menu {
  background-color: black;
  color:black;
  border-right: 0px solid #eeeeee;
  }

#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
  color: black;
  text-decoration: none;
}
#layout-menu a:hover {
	color: black;
  text-decoration: none;
}
h1  {
  border-bottom: 0px;
  color: black;
  }
</style>
++++
