++++
<style type="text/css">
body {
  color: white;
  background-color: black;
}
#layout-banner {
  background-color: black;
  border-bottom: 0px solid #eeeeee;
  text-align: center;
  }
#layout-menu {
  background-color: black;
  color:black;
  border-right: 0px solid #eeeeee;
  }

#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
  color: black;
  text-decoration: none;
}
#layout-menu a:hover {
	color: black;
  text-decoration: none;
}
h1  {
  border-bottom: 0px;
  color: black;
  }
div#footer {
  font-family: sans-serif;
  font-size: small;
  border-top: 2px black;
  padding-top: 0.5em;
  margin-top: 4.0em;
}
div#footer-text {
  color: black;
  float: left;
  padding-bottom: 0.5em;
}
div#footer-badges {
  float: right;
  padding-bottom: 0.5em;
}

</style>
++++
