@charset "utf-8";
/* -------- CSS Document -------- */
/*
CSS for: lumiera.org
CSS function: Site Layout & Menu
*/

/* ---  css attributes order, delete unused attributes/values, --- 
       misc. attributes @ bottom of list or next to related tag
css {
	display:;
	visibilty:;
	position:;
	float:;
	z-index:;
	width:x;
	height:y;
	margin: top right bottom left;
	padding: top right bottom left;
	background: #colors url(deletethisvalue.foo) repeat scroll pos-x pos-y;
	border: size color style;
	outline: size color style;
	font: style variant weight size/lineheight fontface1, fontface2, sans-serif; 
	text-align:;
	text-decoration:;
}	
*/

/* --------  Body  -------- */

div#layout-banner {
	margin: 5px 5px 0 5px;
	padding: 0.4em 20px .2em 20px;
	background: #73a0c5;
	border-bottom: 10px #A9A38B solid;
 	color: white;
	font: sans-serif;
	text-align: left;
  	
}

div#layout-title {
	display: block;
	margin: 0;
	font: bold 3.5em monospace;
	letter-spacing: 0.15em;
}

div#layout-description {
	display: block;
	font: 1.2em sans-serif;
  	letter-spacing: 0.1em;
}

#wrapper {
	display: block;
	width: 900px;
	margin: 10px auto 0 5px;
	background: #C09;
}

#menu, #layout-content {
	float: left;
	width: 700px;
}

#menu{
	width: 180px;
	margin: 0 20px 0 0;
}

#layout-content {
}

div#footer {
	margin: 4.0em 0 0 0;
	padding-top: 0.5em;
	border-top: 2px silver solid;
  	font: small sans-serif;
}

div#footer-text {
  	float: left;
  	padding-bottom: 0.5em;
}

div#footer-badges {
  	float: right;
  	padding:0 0 0.5em 0;
}
/* --------v  Nav  v-------- */

/* -------- NavToggle ------- */
label.toggle {
	display: block;
	float: left;
	width: 180px;
	height:22px;
	padding: 0 2px 0 0;
	background: #f4f4f4;
	border-bottom: 3px #C4BCB0 solid;
	font: 150%/100% Arial, Helvetica, sans-serif;
	color: #666;
	text-align: right;
	cursor: pointer
}

#navtop {
	padding: 0 2px 2px 0;
	border-top: 3px #C4BCB0 solid;
}

input.toggle { 
	display: none;
}
input.toggle:checked+ul {
	display: none; 
}

/* --------  NavLinks  -------- */
a.nav {
	display: inline;
	float: left;
	margin: 0 0 0 4px;
	color: #000;
	font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: left;
	text-decoration: none;
}

a.nav:hover{
	color: #06F;
	font-weight: bold;
	text-decoration: none;
}

li.subnav>a {
	display: block;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
	color: #333;
	font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif ; 
	text-decoration: none;
}

/* --------  NavLists  -------- */

ul.subnav {
	display: block;
	width: 180px;
	margin: 0px 0 0px 0px;
	padding: 2px 0 1px 2px;
	background: #E1E1D0;
	font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	text-decoration: none;
	list-style-type: none;
}

li.subnav {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border-bottom: 2px #666 inset;
	text-decoration: none;
}	

li.subnav:hover {
	background: #A3A585;
}

/* -------- Other -------- */
h1#header {
	margin: -10px 0 0 0;
}	

@media print {
  #layout-banner { display: none; }
  #layout-menu { display: none; }
}


