body {
	background-color: white;
  margin: 1%;
}


h1 {
  margin-top: 0.5em;
}

#layout-banner {
	background-color: black;
	border-bottom: 3px solid #eeeeee;
  /*
	background-color: #008080;
  color: #7FFFD4;
	font-family: sans-serif;
	text-align: left;
  padding: 0.8em 20px;*/ 
  background-image: url(/lumieracollage.jpg);
  height: 240px;
  background-repeat: repeat-x;
  background-size: 100px;
  background-position: center 10px;
}

#layout-banner div#tagline {
text-transform: uppercase;
position: absolute;
top: 228px;
width: 100%;
text-align: center;
}

#layout-banner div#tagline a {
color: #00FF00;
}
#layout-title {
display: none;
/*	font-family: sans-serif;
	font-size: 3.5em;
	font-weight: bold;
  letter-spacing: 0.2em;
  margin: 0; */
}

#layout-description {
display: none;
/*  color: white;
	font-size: 1.2em;
  letter-spacing: 0.1em;
*/
}

#layout-menu {
	background-color: #f4f4f4;
  border-right: 3px solid #eeeeee;
  padding-top: 0.8em;
  padding-left: 20px;
  padding-right: 0.8em;
	font-size: 1.1em;
	font-family: sans-serif;
	font-weight: bold;
}
#layout-menu a {
  line-height: 2em;
  margin-left: 0.5em;
}
#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
  color: #008080;
  text-decoration: none;
}
#layout-menu a:hover {
	color: #7FFFD4;
  text-decoration: none;
}
#layout-menu #page-source {
  border-top: 2px solid silver;
  margin-top: 0.2em;
}

#layout-content {
  margin-left: 1.0em;
}

@media print {
  #layout-banner { display: none; }
  #layout-menu { display: none; }
}
