@charset "utf-8";
/* -------- CSS Document -------- */
/*
CSS for: lumiera.org
CSS function: Navigation Menu
*/



/* --------v  Menu  v-------- */

#menu {
font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
padding: 0;
border-bottom: 3px solid #C4BCB0;
}
/* main menu items */
#menu > li {
border-top: 3px solid #C4BCB0;
background-color: #F4F4F4;
padding: 2px 0 0;
text-indent: 3px;
}
#menu > li > span {
float: right;
padding: 0 5px;
cursor: s-resize;
}
#menu a {
font-weight: normal;
color: #333;
}
#menu a:hover {
text-decoration: none;
background-color:#ccc;
}
#menu ul a:hover {
background-color:#A3A585;
}
/* all menu items */
#menu li {
display: block;
margin: 0;
}

/* second-level menu */
#menu ul {
background-color: #E1E1D0;
padding: 0;
margin: 3px 0 0;
}
/* level-2 indentation */
#menu ul {
text-indent: 0.5em;
}
/* level-3 indentation */
#menu ul ul {
text-indent: 1.5em;
}
/* level-4 indentation */
#menu ul ul ul {
text-indent: 2em;
}

/* Submenu-items */
#menu ul > li {
border-top: 2px solid #ccc;
font-size: 14px;
}
#menu ul > li > a {
display: block;
}

